@import "colors";
@import "common";

:host {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: lighten($primary, 36%);

  $size: 320px;
  width: $size;
  height: calc($size / 2);
  margin-bottom: 3vw;
  margin-right: 2vw;
  box-shadow:
              0 2px 1px -1px lighten($primary, 20%),
              0 1px 1px 0 lighten($primary, 20%),
              0 1px 3px 0 lighten($primary, 20%);
  transition: 400ms ease-in-out;

  &:hover {
    $deep: 10px;
    box-shadow: $deep $deep 1px 1px lighten($primary, 20%);
    transition: 400ms ease-in-out;
    transform: translate(-$deep, -$deep);
  }

  a {
    @extend .full-size;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    .content {
      display: flex;
      justify-content: space-between;
    }

    img {
      height: 100px;
      padding-right: 10px;
    }

    .title {
      font-size: 16px;
    }

    .date {
      font-size: 12px;
      color: gray;
    }
  }
}
