@import "common";
@import "colors";

:host {
  margin-top: 5vh;
  display: block;
  background-color: $bg-secondary;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);

  width: 75vw;
  min-height: calc(100% - 5vh);
  border-radius: 5px;
  padding: 50px 20px 20px 20px;
  

  @media (max-width: $small-width){
    width: 90vw;
  }

}
