@import "common";
@import "colors";

:host {
  margin-top: 5vh;
  display: block;
  background-color: $bg-secondary;
  box-shadow: 0px 2px 10px black;

  width: 75vw;
  min-height: calc(100% - 5vh);
  border-radius: 5px;
  padding: 20px;
}
