@import "common";
@import "colors";

:host {
    @extend .full-size;

    $padding-LR: 7vw;
    .container {
        width: 100%;
        height: calc(100vh - #{$menu-size});
        display: flex;
        justify-content: space-around;
    }
}
