@import "common";

:host {
  display: block;

  app-page {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    @media (max-width: $small-width){
      padding-left: 0px;
      padding-right: 0px;
    }

  }
}
